@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@400;500;600;700&display=swap');

@import 'null.scss';
@import 'webfont.scss';

*{
    box-sizing: border-box;
    margin: 0;
}

html{
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    color: #333;

    scroll-behavior: smooth;

    &.hidden{
        overflow: hidden;
    }
}

a{
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 400;
    text-decoration: none;
    color: #333;

    &.link{
        color: #000;
        font-weight: 500;
        transition: 0.12s;

        &:hover{
            color: #f53838;
        }
    }
}

.btn{
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 14px 24px;
    transition: 0.3s;
    letter-spacing: 1px;
    max-width: 200px;
    text-align: center;
    &.btn--def{
        border: 1px solid #f53838;
        border-radius: 12px;
        color: #f53838;

        &:hover{
            background-color: #f53838;
            color: #fff;
        }
    }

    &.btn--wh{
        background-color: #f53838;
        color: #fff;

        &:hover{
            color: #f53838;
            background-color: #fff;
        }
    }
}

.container{
    max-width: 1340px;
    width: 100%;
    margin: 0 auto;
}

.section{
    padding: 120px 0;

    .section__headers{
        max-width: 600px;
        .title{
            margin-bottom: 20px;
        }
        h1.title{
            font-size: 2rem;
        }

        .subtitle{
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 60px;
        }

        .text{
            margin-bottom: 40px;
            max-width: 80%;

            p{
                font-size: 0.8rem;
            }
        }

        .btn{
            display: block;
        }
    }
}

.header{
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    padding: 20px 0;
    z-index: 100;
    background: #fff;
    .header__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav{
        a {
            transition: 0.12s;
            & + a{
                margin-left: 25px;
            }

            &:hover{
                color: #f53838;
            }
        }
    }
}

.logo{
    font-size: 1.5rem;
    font-weight: 700;
}

#intro{
    position: relative;
    height: calc(100vh);
    background-image: url('../images/main/intro-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    padding: 240px 0;

    .section__inner{
        position: relative;
        padding: 20px;
        backdrop-filter: blur(12px);
        border-radius: 12px;
        background: rgba(0, 0, 0, .24);

        display: flex;
        align-items: flex-end;

        padding-bottom: 200px;
    }

    .section__headers{
        color: #fff;
    }

    .content{
        img{
            transform: translateY(100px);
            border-radius: 50%;
            overflow: hidden;
            max-width: 600px;
        }
    }

    .social{
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 20px;
    }

    &:before{
        content: '';
        position: absolute;
        right: 20%;
        transform: translateY(-20%);
        border-radius: 50%;
        display: block;
        width: 100px;
        height: 100px;
        background: #f53838;
    }
}

.social{
    display: flex;

    a{
        display: block;
        margin: 0 12px;

        span{
            font-size: 2rem;
            color: #fff;
            transition: 0.12s;
        }
        &:hover{
            span{
                color: #8ab4f8; 
            }
        }
    }
}

#adv__slider{
    padding-top: 200px;
    .section__headers{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
    }
    .slider__controlls{
        display: flex;
        .control{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #f53838;
            background-color: #f53838;
            
            border-radius: 50%;

            span{
                font-size: 1.5rem;
                color: #000;
                width: 52px;
                height: 52px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
            }

            &.disabled{
                background-color: transparent;
                span{
                    color: #f53838;
                }
            }

            &:first-child{
                margin-right: 20px;
                transform: rotateZ(180deg);
            }
        }
    }
    .slider{
        display: flex;
        flex-basis: 30%;
        flex-wrap: nowrap;
        overflow-x: hidden;
        padding: 50px 0;
        .item{
            padding: 20px 30px;
            border-radius: 12px;
            box-shadow: 0px 10px 20px rgba(198, 198, 198, 0.4);
            text-align: center;
            margin-right: 20px;
            min-width: 420px;
            transition: 0.5s;

            span{
                font-size: 3.5rem;
                color: #f53838;
                display: block;
                margin-bottom: 20px;
            }
            .name{
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 10px;
            }
            .text{
                font-size: 0.8rem;
                font-weight: 400;
                max-width: 400px;
            }
        }
    }
}

#products{
    text-align: center;

    .section__headers{
        text-align: left;
    }

    .product__nav{
        margin-left: 20px;
        a{
            position: relative;
            & + a{
                margin-left: 40px;
            }

            &:before{
                content: '';
                position: absolute;
                bottom: -5px;
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                width: 0;
                background-color: #f53838;
                transition: 0.24s;
            }

            &.active{
                &:before{
                    width: 40px;
                }
            }
            
        }
    }

    .content{
        padding: 50px 0;
        display: flex;
        flex-wrap: wrap;
        margin: -20px;

        min-height: 700px;

        .item{
            font-family: 'Montserrat', sans-serif;
            position: relative;
            cursor: pointer;
            margin: 0;
            transition: .3s;
            transition-delay: 0.7em;
            overflow: hidden;
            opacity: 0;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: none;
            }

            .name{
                position: absolute;
                bottom: 0;
                left: 0;
                color: #fff;
                font-size: 0.9rem;
                padding: 10px;
                background-color: #333;
                opacity: 0.9;
                width: 100%;
                font-weight: 500;
                transition: 0.24s;

                span{
                    display: block;
                }
            }

            &:hover{
                .name{
                    padding: 40px 10px;
                }
            }
            &.active{
                opacity: 1;
                margin: 20px;
                width: 300px;
                height: 300px;

                img{
                    display: block;
                }
            }
        }
    }
}

#team{
    .section__inner{
        position: relative;
    }
    .section__headers{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 130px;

        .text{
            max-width: 100%;
            margin: 0 auto;
        }
    }

    .content{
        position: relative;
        padding: 50px 0;
        display: flex;
        height: 450px;
        .item{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-200%, -50%);
            transition: 0.5s;
            img{
                width: 240px;
                height: 350px;
                object-fit: cover;
                margin-bottom: 40px;
            }

            .info{
                font-family: 'Montserrat', sans-serif;
                opacity: 0;
                transition: 0.5s;
                text-align: center;

                .name{
                    margin-bottom: 5px;
                }

                .prof{
                    margin-bottom: 20px;
                }
            }

            &.active{
                .info{
                    opacity: 1;
                }
            }
        }
    }

    .slider__controlls{
        display: flex;
        justify-content: center;
        .control{
            cursor: pointer;
            position: absolute;
            span{
                font-size: 3rem;
            }

            &:first-child{
                transform: translateY(-50%) rotateZ(180deg);
                margin-right: 40px;

                top: 50%;
                left: 0;
            }

            &:last-child{
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

#about{
    .section__inner{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section__headers{
        .text{
            font-family: 'Montserrat', sans-serif;

            p{
                position: relative;
                padding-bottom: 15px;
                margin-bottom: 30px;

                &:before{
                    content: '';
                    position: absolute;
                    display: block;
                    bottom: 0;
                    left: 0;
                    height: 2px;
                    background-color: #f53838;
                }

                &:nth-child(1) {
                    &:before{width: 20%;}
                }
                &:nth-child(2) {
                    &:before{width: 40%; }
                }
                &:nth-child(3) {
                    &:before{ width: 60%; }
                }
                &:nth-child(4) {
                    &:before{ width: 80%; }
                }
            }
        }
    }
    .content{
        font-family: 'Montserrat', sans-serif;
        padding: 40px;
        background-color: #7555E3;
        border-radius: 12px;
        color: #fff;

        .title{
            margin-bottom: 40px;
        }
        .subtitle{
            margin-bottom: 20px;
        }

        input{
            display: block;
            outline: none;
            padding: 20px;
            border: 0;
            border-radius: 12px;
            margin-bottom: 20px;
            width: 100%;
        }

        .btn{
            display: block;
            margin-bottom: 40px;
        }
    }
}

#features{
    .content{
        display: flex;
        flex-wrap: wrap;
        margin: -20px;
        .item{
            width: 22%;
            margin: 20px;
            margin-bottom: 40px;

            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
                margin-bottom: 10px;
            }

            .name{
                font-size: 1rem;
                font-weight: 500;
                margin-bottom: 5px;
            }

            .text{
                p{
                    font-size: 0.8rem;
                }
            }
        }
    }
}

#footer{
    background: linear-gradient(135deg, rgba(192, 166, 166, 0.4), rgba(192, 166, 166, 0.2));
    padding-bottom: 25px;
    .section__headers{
        margin-bottom: 40px;
    }
    .section__inner{
        .content{
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;

            .tab{
                display: flex;
                flex-wrap: wrap;
                a{
                    & + a{
                        margin-left: 30px;
                    }
                }

                &.social{
                    align-items: start;
                    .title{
                        margin-right: 40px;
                    }
                    a{
                        margin-left: 20px;
                        span{
                            color: #999;
                        }

                        &:hover{
                            span{
                                color: #f53838;
                            }
                        }
                    }
                }
            }
        }
        
    }
}

.popap{
    position: fixed;
    left: 0;
    top: 0;

    width: 0;
    height: 0;
    padding: 80px 40px;
    z-index: 150;
    overflow: hidden;

    .popap__inner{
        position: relative;
        background-color: #fff;
        width: 100%;
        height: 100%;
        box-shadow: 0px 10px 20px rgba(198, 198, 198, 0.4);
        border: 1px solid #333;
        border-radius: 20px;
        padding: 40px;

        top: 100%;
        opacity: 0;
        transition: 0.8s;

        .title{
            font-size: 1rem;
            font-weight: 700;
            margin-bottom: 25px;
        }

        .subtitle{
            font-size: 0.9rem;
            font-weight: 500;
        }

        .btn#btn--popap-order{
            position: absolute;
            box-shadow: 0px 5px 10px rgba(198, 198, 198, 0.7);
            bottom: 0;
            left: 0;
            margin: 40px;
        }

        .content{
            background-color: #d6d6d6;
            width: 100%;
            margin: 40px 0;
            min-height: 300px;
            padding: 10px;

            .noitems{
                font-size: 0.9rem;
                font-weight: 400;

                a{
                    font-weight: 600;
                }
            }
        }

        .btn--close{
            position: absolute;
            right: 0;
            top: 0;
            margin: 20px;
            width: 14px;
            height: 14px;

            &:before, &:after{
                content: '';
                position: absolute;
                width: 20px;
                height: 2px;
                background-color: #333;
                top: 50%;
                left: 50%;
            }

            &:before{
                transform: translate(-50%, -50%) rotateZ(45deg);
            }
            &:after{
                transform: translate(-50%, -50%) rotateZ(-45deg);
            }
        }
    }

    &[data--popap="order"].open {
        width: 100%;
        height: 100%;

        .popap__inner{
            top: 0;
            opacity: 1;
        }
    }
}

